page-home {
 .period{
  border-bottom: .5px solid rgb(230, 230, 230);
  padding-bottom: 10px;
  justify-content: space-between;
  span{
   display: inline-block;
   padding: 10px;
   margin-right: 10px;
   border-radius: 4px;
   font-size: 15px;
   color: #999999;
  }
  .blue{
   background: #FC7028;
   color:#fff;
  }
 }
    .banben-text{
        font-size: 12px;
        color:#999;
        text-align: center;
        background-size: 14px 14px;
        margin-top:4px;
    }
}
