page-setting {
  .logo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    top: 30px;
    border-radius: 5px;
    background:url('../../../assets/imgs/icon.png') no-repeat center center;
    background-size: cover;
  }
  .logo-title{
    text-align: center;
    margin-top:105px;
    font-size: 16px;
  }
  .logo-version{
    text-align: center;
    font-size:12px;
    color: #999999;
  }
  .btn{
    border-radius:10px;
    width:90%;
    position:absolute;
    bottom:15px;
    left:5%;
    height:40px;
    .btn-text{
      font-size:16px;
      color:#fff;
    }
  }
}