page-person {
    // .navbar{
    //     height:40px;
    //     width: 100%;
    //     background:#FC7028;
    //     line-height: 40px;
    //     text-align: center;
    //     position: relative;
    //     .title{
    //       font-size: 16px;
    //       color: #fff;
    //     }
    //   }
    // .navbar{
    //     padding-top:10px;
    //     height:50px;
    //     width: 100%;
    //     background:#FC7028;
    //     line-height: 50px;
    //     text-align: center;
    //     position: relative;
    //     .title{
    //         font-size: 16px;
    //         color: #fff;
    //     }
    // }
    .wrap{
        width: 100%;
        height: 100%;
        background: rgb(246, 246, 246);
        overflow: hidden;
        .person{
            width:80%;
            height:80px;
            border: 1px solid #FC7028;
            border-radius: 10px;
            margin: 0 auto;
            margin-top: 20px;
            background: #fff;
            line-height: 80px;
            .text{
                display:inline-block;
                margin-left: 15px;
            }
            .person-icon{
                margin-top:14px;
                margin-left: 20px;
                float:left;
                font-size:50px;
                color:rgb(180, 180, 180);
            }
            .sign-out-btn{
                float: right;
                margin-top: 22px;
                margin-right: 15px;
                height:30px;
                float: right;
            }
        }
    }
}
