page-complaint {
  .text-box{
    width:100%;
    height:200px;
    border-radius:4px;
    margin:30px auto 0;
    background: #fff;
    font-size:14px;
    padding:10px;
  }
  .btn{
    border-radius:10px;
    width:90%;
    height:40px;
    margin: 15px auto 0;
    .btn-text{
      font-size:16px;
      color:#fff;
    }
  }
}